name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.2.2

      - name: Build Project
        uses: threeal/cmake-action@v2.1.0
        with:
          generator: Ninja
          source-dir: .
          build-dir: build
          options: |
            -DBUILD_TESTS=ON
            -DBUILD_EXAMPLES=ON

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.2.2

      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build
          path: build/

      - name: Test Sketch
        working-directory: build
        run: ./tests/sketch_tests
          