name: CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.2.2

      - name: Build Project
        uses: threeal/cmake-action@v2.1.0
        with:
          generator: Ninja
          source-dir: .
          build-dir: build
          options: |
            -DBUILD_TESTS=ON
            -DBUILD_EXAMPLES=ON
      
      - name: Test Sketch
        working-directory: build
        run: ./tests/sketch_tests
          