name: eBPF CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build bpftool:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.2.2
        with:
          submodules: recursive
      
      - name: Install dependencies
        run: sudo apt-get install -y libelf-dev zlib1g-dev

      - name: Build bpftool
        run: |
          cd external/bpftool/src
          make
          echo "$(pwd)" >> $GITHUB_PATH